.header {
  font-size: 25px;
  margin: 0px 0px 5px 0px;
  color: #ff8b49;
  text-align: center;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
