.table {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  position: relative;
}

.heading,
.row {
  display: grid;
}

.heading {
  color: #888;
  border-bottom: 2px solid #1de9b6;
  top: 0;
  position: sticky;
  background-color: white;
}
.row {
  border-top: 1px solid #eaeaea;
}

.cell {
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.rowSeparator {
  border-top: 2px solid #1de9b6;
}

.label {
  color: #888;
  border-right: 1px solid #eaeaea !important;
  justify-content: left !important;
}
