.space {
  display: block;
}

.h {
  color: #111;
}

.p,
.blockquote,
.list {
  color: #888;
}

.blockquote {
  margin-left: 10px;
}

.strong {
  display: inline;
  font-weight: 700 !important;
}

.italic {
  font-style: italic !important;
}

.link {
  color: #007bff;
}

.codespan {
  color: #e83e8c;
  word-break: break-word;
}

.code {
  color: #e83e8c;
  word-break: break-word;
}
