.avatrButton {
  margin: 0;
  padding: 6px 10px;
  border: none;
  background-color: #a7c94c;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  font-size: 14px;
  outline: none;
}

.avatrButton:hover {
  cursor: pointer;
}

.light {
  background-color: white;
  border: solid 1px #a7c94c;
  color: #a7c94c;
}
