.value {
  font-weight: 400;
  font-size: 24px;
  color: #212224;
  text-align: center;
  margin: 0;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label {
  font-weight: 400;
  color: #888;
  text-align: center;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
