.container {
  width: 100%;
  height: 100%;
}

.gaugeContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gauge {
  display: flex;
  align-items: center;
  margin: auto;
}

.label {
  font-weight: 400;
  color: #888;
  text-align: center;
}

.labelContainer {
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
