.tooltipContainer {
  z-index: 2000;
}

.popoverBody {
  max-height: 60vh;
  overflow-y: auto;
}

.tooltipContent {
  float: left;
}

.tooltipContent > button {
  border: none;
  margin: none;
  background-color: transparent;
  padding: 0 0 6px 6px;
  color: #888;
  font-size: 14px;
  float: right;
}

.tooltipContent > button:hover {
  cursor: pointer;
}

.tooltipContent > button:hover > i {
  color: #111;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.warningIcon {
  width: 26px;
  height: 26px;
  background-color: white;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.warningIcon > i {
  color: #ff8b49;
  margin-top: -3px;
}
