body {
  margin: 20px;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.showcase-container {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  border-bottom: solid 1px #888888;
  align-items: center;
}

.showcase-small,
.showcase-big {
  margin-right: 40px;
}

.showcase-small {
  width: 300px;
  height: 200px;
  margin-bottom: 20px;
  overflow: scroll;
}

.showcase-big {
  width: 600px;
  height: 400px;
  margin-bottom: 20px;
  overflow: scroll;
}

.border {
  border: solid 2px black;
}

.widget-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.showcase-header {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.showcase-header > h1 {
  flex: 1;
}

.zoom-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.zoom-container > input {
  margin-left: 10px;
  margin-right: 5px;
}

.zoom-container > label {
  margin: 0;
}
