.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.container > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border: none;
}

.panelComponentContainer {
  position: absolute;
}

.panelComponent {
  position: relative;
  top: -50%;
  left: -50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 10px;
}
