.widgetContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.widgetContentContainer {
  display: block;
  width: 100%;
  flex: 1;
  min-height: 0;
  box-sizing: border-box;
}

.recharts-cartesian-axis-tick-value {
  color: red !important;
}

.widgetContainerContainer {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
