.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.header {
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #eaeaea !important;
  font-family: 'Open Sans', sans-serif;
}

.content {
  padding: 5px;
  flex: 1;
}

.footer {
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 1px solid #eaeaea !important;
}

.footer > img {
  height: 40px;
}

.tecnoFooterText {
  flex: 1;
  padding-right: 10px;
  font-size: 14px;
}
